body{
    font-family: Calibri;
    background-color: skyblue;
}
th{
    text-align: left;
}
.select{
    width: 150px
}
.seats{
    width: 80px
}
.date{
    width: 80px
}
.booking{
    padding-right: 1cm;
}